button:not(.burger) {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 14px;
  background-color: $cta-secondary;
  height: 38px;
  padding: 0 15px;
  min-width: 180px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 0 darken($cta-secondary, 10%);
  text-shadow: 0 -1px 0 darken($cta-secondary, 20%);
  transition: background .3s ease 0s;

  &:hover {
    background-color: darken($cta-secondary, 5%);
  }

  &:active {
    box-shadow: 0 1px 0 darken($cta-secondary, 10%);
    top: 1px;
  }

  > i,
  .material-icons {
    font-size: inherit;
    vertical-align: middle;
  }
}