.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  @include media('<tablet') {
    flex-flow: column nowrap;
    align-items: center;
  }

  .column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    @include media('>=tablet') {
      margin-right: 15px;
      max-width: 40%;

      > div {
        width: 100%;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    @include media('<tablet') {
      width: 100%;
      align-items: center;

      &.column-introduction {
        order: 2;
      }

      &.column-expertise {
        order: 1;
      }
    }

    @include media('>=tablet') {
      &.align-left {
        align-items: flex-start;

        .panel-wrapper {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-start;
        }
      }

      &.align-right {
        align-items: flex-end;

        .panel-wrapper {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-end;
        }
      }
    }
  }
}