.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  .column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    &.align-left {
      align-items: flex-start;
    }

    &.align-right {
      align-items: flex-end;
    }
  }
}