// Include media npm
@import '../../../../node_modules/include-media/dist/include-media.scss';

@mixin make-triangle($color, $way: left) {
  @if $way == left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid $color;
    border-bottom: 15px solid transparent;
  } @else {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid $color;
    border-bottom: 15px solid transparent;
  }
}