// Include media npm
@import '../../../../node_modules/include-media/dist/include-media.scss';

@mixin make-triangle($color, $way: left, $size: 20px) {
  @if $way == left {
    width: 0;
    height: 0;
    border-top: #{$size - $size * .25} solid transparent;
    border-left: $size solid $color;
    border-bottom: #{$size - $size * .25} solid transparent;
  } @else {
    width: 0;
    height: 0;
    border-top: #{$size - $size * .25} solid transparent;
    border-right: $size solid $color;
    border-bottom: #{$size - $size * .25} solid transparent;
  }
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}