.certificates {
    .cert-badge {
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    p.align-right {
        margin-top: 10px;
        text-align: right;
    }
}