.drawer {
    background-color: $cta-primary;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 9;
    transition: all .5s ease 0s;

    &.drawer-is-opened {
        transform: translateX(0);
    }

    .drawer-header {
        height: 70px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        right: 0;

        h2 {
            font-size: 18px;
            line-height: 40px;
            color: $color-white;
            margin: 15px;
        }

        .close {
            margin: 15px;
        }
    }
}

body {
    &.drawer-is-opened {
        overflow: hidden;
    }
}