.header {
  background-color: $cta-primary;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;

  .header-container {
    @extend %container;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}