.logo {
  width: 80px;
  background-color: $cta-primary;
  position: relative;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s ease 0s;

  &:hover {
    background-color: darken($cta-primary, 10%);
    width: 100px;
    left: -10px;
  }

  .logo-wrapper {
    display: block;

    .logo-img {
      max-width: 100%;
    }
  }
}