.navigation {
  .burger {
    position: absolute;
    padding: 25px;
    right: 0;

    @include media('>tablet') {
      display: none;
    }
  }

  ul {
    list-style: none;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include media('<=tablet') {
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;
      position: fixed;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -9;
      transition: all .5s ease 0s;
    }

    li {
      height: inherit;
      line-height: inherit;
      margin: 0;

      @include media('<=tablet') {
        height: 50px;
        line-height: normal;
        width: 100%;
      }

      > a {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        height: inherit;
        display: block;
        color: white;
        padding: 0 15px;
        text-decoration: none;
        line-height: inherit;
        letter-spacing: .1em;
        background-image: linear-gradient(darken($cta-primary, 10%), darken($cta-primary, 10%) 50%, $cta-primary 50%, $cta-primary);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 100% 200%;
        transition: all .3s ease 0s;

        &:hover {
          background-position: 0 0;
          background-color: #1b1725;
          color: white;
        }
      }

      &.active {
        > a {
          background-position: 0 0;
          background: white;
          color: $cta-primary;
        }
      }
    }
  }

  &.nav-is-closed {
    @include media('<=tablet') {
      > ul {
        transform: translateX(100%);
      }
    }
  }

  &.nav-is-open {
    @include media('<=tablet') {
      > ul {
        transform: translateX(0);
      }
    }
  }
}