.panel {
  background-color: rgba(white, .8);
  width: 100%;
  margin-bottom: 15px;
  max-width: 460px;

  .panel-header {
    padding: 15px;
    color: $cta-primary;
    border-bottom: 1px dashed rgba($cta-primary, .25);

    &.no-border {
      border: 0;
    }

    &.no-margin {
      margin: 0;
    }

    +.panel-content {
      padding: 0 15px 15px;
    }
  }

  .panel-content {
    padding: 15px;

    .panel-actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &.justify-right {
        justify-content: flex-end;
      }

      &.justify-left {
        justify-content: flex-start;
      }
    }
  }

  &.no-bg {
    background-color: transparent;
  }
}