.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -15px;

  .portfolio-thumb {
    padding: 15px;

    > .thumb-wrapper {
      position: relative;
      padding: 6px;
      background-color: white;
      width: 160px;
      height: 160px;
      box-shadow: 0 3px 0 rgba(black, .25);
      box-sizing: border-box;
      overflow: hidden;

      > img {
        max-width: 100%;
      }

      .thumb-description {
        background-color: rgba($cta-primary, .75);
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform .25s ease 0s;

        &.from-left {
          transform: translate(-100%, 0);
        }

        &.from-right {
          transform: translate(100%, 0);
        }

        &.from-top {
          transform: translate(0, -100%);
        }

        &.from-bottom {
          transform: translate(0, 100%);
        }
      }

      &:hover {
        .thumb-description {
          transform: translate(0, 0);

        }
      }
    }
  }
}