.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -15px;

  .portfolio-thumb {
    padding: 15px;

    > .thumb-wrapper {
      cursor: pointer;
      position: relative;
      background-color: white;
      width: 120px;
      height: 120px;
      box-shadow: 0 3px 0 rgba(black, .25);
      border: 1px solid white;
      box-sizing: border-box;
      overflow: hidden;

      @include media('>=mobile') {
        width: 160px;
        height: 160px;
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .thumb-description {
        background-color: rgba($cta-primary, .75);
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform .25s ease 0s;

        &.from-left {
          transform: translate(-100%, 0);
        }

        &.from-right {
          transform: translate(100%, 0);
        }

        &.from-top {
          transform: translate(0, -100%);
        }

        &.from-bottom {
          transform: translate(0, 100%);
        }

        > i {
          color: $cta-secondary;
          font-size: 64px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0) rotate(90deg);
          text-shadow: 0 3px 0 rgba(black, .25);
          transition: all .25s ease .25s;
        }

        > .title {
          font-size: 10px;
          background-color: rgba(black, .5);
          text-align: center;
          position: absolute;
          bottom: -100%;
          opacity: 0;
          left: 0;
          right: 0;
          padding: 5px;
          transition: all .25s ease .25s;
        }
      }

      &:hover {
        .thumb-description {
          transform: translate(0, 0);
          
          > i {
            transform: translate(-50%, -50%) scale(1) rotate(0deg);
          }

          > .title {
            bottom: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}