section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &.white-bg {
    background-color: rgba(lightgray, .8);
  }

  .section-wrapper {
    width: 100%;
    padding: 50px 0;

    @include media('>=tablet') {
      padding: 100px 0;
    }
  }
}