.timeline {
  position: relative;

  &:before {
    content: '';
    background-color: $cta-primary;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }

  .timeline-block {
    position: relative;
    display: flex;

    @include media('<tablet') {
      align-items: center;
    }

    &.odd {
      flex-flow: row nowrap;

      @include media('<tablet') {
        flex-flow: column-reverse nowrap;
      }

      .timeline-content {
        justify-content: flex-end;

        @include media('<tablet') {
          justify-content: center;
        }

        &:after,
        &:before {
          position: absolute;
          content: '';
          transform: translate(100%, 22px);

          @include media('<tablet') {
            content: none;
          }
        }

        &:after {
          @include make-triangle(white, left, 12px);
        }

        &:before {
          @include make-triangle(rgba(black, .25), left, 12px);
          top: 3px;
        }
      }

      .timeline-date {
        justify-content: flex-start;

        @include media('<tablet') {
          background-color: white;
          margin-top: 50px;
          margin-bottom: -10px;
          line-height: normal;
          padding: 15px;
          text-align: center;
          justify-content: center;
          box-shadow: 0 3px 0 rgba(black, .25);
          z-index: 1;
        }
      }
    }

    &.even {
      flex-flow: row-reverse nowrap;

      @include media('<tablet') {
        flex-flow: column-reverse nowrap;
      }

      .timeline-content {
        justify-content: flex-start;

        @include media('<tablet') {
          justify-content: center;
        }

        &:after,
        &:before {
          position: absolute;
          content: '';
          transform: translate(-100%, 22px);

          @include media('<tablet') {
            content: none;
          }
        }

        &:after {
          @include make-triangle(white, right, 12px);
        }

        &:before {
          @include make-triangle(rgba(black, .25), right, 12px);
          top: 3px;
        }
      }

      .timeline-date {
        justify-content: flex-end;

        @include media('<tablet') {
          background-color: white;
          margin-top: 50px;
          margin-bottom: -10px;
          line-height: normal;
          padding: 15px;
          text-align: center;
          justify-content: center;
          box-shadow: 0 3px 0 rgba(black, .25);
          z-index: 1;
        }
      }
    }

    .timeline-content-wrapper,
    .timeline-date-wrapper {
      padding: 0 60px;
      flex: 1 0 50%;
      box-sizing: border-box;

      @include media('<tablet') {
        padding: 0;
        flex: none;
      }
    }

    .timeline-icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      @include media('<tablet') {
        top: 0;
        z-index: 2;
      }
    }

    .timeline-content,
    .timeline-date {
      display: flex;
    }
  }

  .timeline-date {
    font-weight: 600;
    font-size: 18px;
    line-height: 68px;
  }

  .timeline-content {
    font-size: 14px;
    position: relative;

    ul {
      li {
        margin: 0;
      }
    }
  }

  .timeline-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 4px solid white;
    background-color: $cta-secondary;

    img {
      max-width: 38px;
      max-height: 38px;
    }
  }
}
