@import '../../../node_modules/reset-css/sass/_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Pacifico&family=Material+Icons&display=swap');

@import '_Variables';

@import 'helpers/_mixins';
@import 'helpers/_typhography';
@import 'helpers/_container';
@import 'helpers/_button';
@import 'helpers/_columns';

@import '_Root';
@import '_App';
@import '_Start';
@import '_Header';
@import '_Panel';
@import '_Section';
@import '_Background';
@import '_Me';
@import '_Logo';
@import '_Navigation';
@import '_Anchor';
@import '_Timeline';
@import '_Burger';
@import '_Portfolio';
@import '_Drawer';
@import '_Viewer';
@import '_Certificates';
@import '_Contact';

html {
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
  overflow: auto;
}

.wrapper {
  width: 100%;
  overflow: auto;
}

.sections {
  position: relative;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.backgrounds {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;

  @include media('<tablet') {
    background-image: url('/images/backgrounds/mobile.jpg');
    background-size: cover;
    bottom: 0;
    position: fixed;
    transition: all .5s ease 0s;
  }
}

.me {
  z-index: 1;
}

