/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Kalam|Material+Icons");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #2d2839;
  background-color: #49415C;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

* {
  outline: 0; }
  *:after, *:before {
    outline: 0; }
  *:hover, *:active, *:focus {
    outline: 0; }

a {
  color: #49415C;
  transition: color .3s ease 0s;
  text-decoration: none; }
  a:hover {
    color: #8bb91c; }

strong {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

p {
  margin: 0 0 15px; }
  p:last-of-type {
    margin: 0; }
  p > .material-icons {
    vertical-align: text-top; }

ul {
  margin: 0 0 15px;
  list-style: outside;
  padding-left: 30px; }
  ul > li {
    margin: 0 0 10px; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-align-center {
  text-align: center; }

.hand-written {
  font-family: 'Kalam', cursive; }

.white {
  color: white; }

.container {
  width: 100%;
  padding: 15px;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box; }

button:not(.burger) {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 14px;
  background-color: #8bb91c;
  height: 38px;
  padding: 0 15px;
  min-width: 180px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 0 #6a8d15;
  text-shadow: 0 -1px 0 #48600f;
  transition: background .3s ease 0s; }
  button:not(.burger):hover {
    background-color: #7aa319; }
  button:not(.burger):active {
    box-shadow: 0 1px 0 #6a8d15;
    top: 1px; }
  button:not(.burger) > i,
  button:not(.burger) .material-icons {
    font-size: inherit;
    vertical-align: middle; }

.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  @media (max-width: 768px) {
    .columns {
      flex-flow: column nowrap;
      align-items: center; } }
  .columns .column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap; }
    @media (min-width: 769px) {
      .columns .column {
        margin-right: 15px; }
        .columns .column:last-of-type {
          margin-right: 0; } }
    .columns .column.align-left {
      align-items: flex-start; }
    .columns .column.align-right {
      align-items: flex-end; }

#root {
  width: 100%;
  height: 100%; }

.app {
  width: 100%; }

.header .header-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  background-color: #49415C;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  height: 50px; }
  .header .header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

.panel {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin-bottom: 15px;
  max-width: 460px; }
  .panel .panel-header {
    padding: 15px;
    color: #49415C;
    border-bottom: 1px dashed rgba(73, 65, 92, 0.25); }
    .panel .panel-header.no-border {
      border: 0; }
    .panel .panel-header.no-margin {
      margin: 0; }
    .panel .panel-header + .panel-content {
      padding: 0 15px 15px; }
  .panel .panel-content {
    padding: 15px; }
    .panel .panel-content .panel-actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      @media (max-width: 479px) {
        .panel .panel-content .panel-actions {
          flex-flow: column nowrap; }
          .panel .panel-content .panel-actions > * {
            margin: 10px 0; } }
      .panel .panel-content .panel-actions.justify-right {
        justify-content: flex-end; }
      .panel .panel-content .panel-actions.justify-left {
        justify-content: flex-start; }
  .panel.no-bg {
    background-color: transparent; }
    @media (max-width: 767px) {
      .panel.no-bg {
        background-color: rgba(255, 255, 255, 0.8); } }
  .panel.shadowed {
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.25); }
  .panel.full-bg {
    background-color: white; }

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10% 0;
  box-sizing: border-box; }
  section.white-bg {
    background-color: rgba(255, 255, 255, 0.8); }
  section .section-wrapper {
    width: 100%; }

.background {
  position: relative;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
  .background .add {
    position: absolute;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 110%;
    width: 100%;
    height: 100%; }

.me {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .me .me-wrapper {
    width: 100%;
    height: 100%; }
  .me .me-person {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .5s ease 0s; }
    @media (max-width: 1024px) {
      .me .me-person {
        background-size: auto 80%; } }
    .me .me-person.me-person-0 {
      background-image: url("/images/me/me_0.png"); }
    .me .me-person.me-person-1 {
      background-image: url("/images/me/me_1.png"); }
    .me .me-person.me-person-2 {
      background-image: url("/images/me/me_2.png"); }
    .me .me-person.me-person-0, .me .me-person.me-person-1, .me .me-person.me-person-2 {
      opacity: 0; }
  .me .me-layer {
    width: 100%;
    height: 100%; }
  .me .me-interval-0 .me-person-0 {
    opacity: 1; }
  .me .me-interval-0 .me-person-1 {
    opacity: 0;
    transition: all 1s ease .25s; }
  .me .me-interval-0 .me-person-2 {
    opacity: 0;
    transition: all 1s ease .25s; }
  .me .me-interval-1 .me-person-0 {
    opacity: 0;
    transition: all 1s ease .25s; }
  .me .me-interval-1 .me-person-1 {
    opacity: 1; }
  .me .me-interval-1 .me-person-2 {
    opacity: 0;
    transition: all 1s ease .25s; }
  .me .me-interval-2 .me-person-0 {
    opacity: 0;
    transition: all 1s ease .25s; }
  .me .me-interval-2 .me-person-1 {
    opacity: 0;
    transition: all 1s ease .25s; }
  .me .me-interval-2 .me-person-2 {
    opacity: 1; }

.logo {
  width: 80px;
  background-color: #49415C;
  position: relative;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s ease 0s; }
  .logo:hover {
    background-color: #312c3e;
    width: 100px;
    left: -10px; }
  .logo .logo-wrapper {
    display: block; }
    .logo .logo-wrapper .logo-img {
      max-width: 100%; }

.navigation .burger {
  position: absolute;
  padding: 25px;
  right: 0; }
  @media (min-width: 769px) {
    .navigation .burger {
      display: none; } }
.navigation ul {
  list-style: none;
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }
  @media (max-width: 768px) {
    .navigation ul {
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;
      position: fixed;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -9;
      transition: all .5s ease 0s; } }
  .navigation ul li {
    height: inherit;
    line-height: inherit;
    margin: 0; }
    @media (max-width: 768px) {
      .navigation ul li {
        height: 50px;
        line-height: normal;
        width: 100%; } }
    .navigation ul li > a {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 300;
      height: inherit;
      display: block;
      color: white;
      padding: 0 15px;
      text-decoration: none;
      line-height: inherit;
      letter-spacing: .1em;
      background-image: linear-gradient(#312c3e, #312c3e 50%, #49415C 50%, #49415C);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 100% 200%;
      transition: all .3s ease 0s; }
      .navigation ul li > a:hover {
        background-position: 0 0;
        background-color: #1b1725;
        color: white; }
      .navigation ul li > a > i {
        margin-right: 5px;
        float: left;
        line-height: inherit;
        font-size: 16px; }
    .navigation ul li.active > a {
      background-position: 0 0;
      background: white;
      color: #49415C; }
@media (max-width: 768px) {
  .navigation.nav-is-closed > ul {
    transform: translateX(100%); } }
@media (max-width: 768px) {
  .navigation.nav-is-open > ul {
    transform: translateX(0); } }

.anchor-effect {
  display: inline; }
  .anchor-effect > a {
    cursor: pointer;
    perspective: 1000px;
    color: #384a0b;
    overflow: hidden; }
    .anchor-effect > a > span {
      background-color: #8bb91c;
      display: inline-block;
      padding: 0 5px;
      line-height: 24px;
      position: relative;
      transition: transform .3s ease 0s;
      transform-origin: 50% 0;
      transform-style: preserve-3d; }
      .anchor-effect > a > span:before {
        background-color: #8bb91c;
        content: attr(data-hover);
        height: 100%;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        text-align: center;
        transition: background .3s ease 0s;
        transform: rotateX(90deg);
        transform-origin: 50% 0; }
      .anchor-effect > a > span:hover, .anchor-effect > a > span:focus {
        transform: rotateX(-90deg) translateY(-50%); }
    .anchor-effect > a:hover, .anchor-effect > a:focus {
      transform: rotateX(-90deg) translateY(-50%); }
      .anchor-effect > a:hover > span:before, .anchor-effect > a:focus > span:before {
        background-color: #c4e96c; }

.timeline {
  position: relative; }
  .timeline:before {
    content: '';
    background-color: #49415C;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0); }
  .timeline .timeline-block {
    position: relative;
    display: flex; }
    @media (max-width: 767px) {
      .timeline .timeline-block {
        align-items: center; } }
    .timeline .timeline-block.odd {
      flex-flow: row nowrap; }
      @media (max-width: 767px) {
        .timeline .timeline-block.odd {
          flex-flow: column-reverse nowrap; } }
      .timeline .timeline-block.odd .timeline-content {
        justify-content: flex-end; }
        @media (max-width: 767px) {
          .timeline .timeline-block.odd .timeline-content {
            justify-content: center; } }
        .timeline .timeline-block.odd .timeline-content:after, .timeline .timeline-block.odd .timeline-content:before {
          position: absolute;
          content: '';
          transform: translate(100%, 22px); }
          @media (max-width: 767px) {
            .timeline .timeline-block.odd .timeline-content:after, .timeline .timeline-block.odd .timeline-content:before {
              content: none; } }
        .timeline .timeline-block.odd .timeline-content:after {
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-left: 12px solid white;
          border-bottom: 9px solid transparent; }
        .timeline .timeline-block.odd .timeline-content:before {
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-left: 12px solid rgba(0, 0, 0, 0.25);
          border-bottom: 9px solid transparent;
          top: 3px; }
      .timeline .timeline-block.odd .timeline-date {
        justify-content: flex-start; }
        @media (max-width: 767px) {
          .timeline .timeline-block.odd .timeline-date {
            background-color: white;
            margin-top: 50px;
            margin-bottom: -10px;
            line-height: normal;
            padding: 15px;
            text-align: center;
            justify-content: center;
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
            z-index: 1; } }
    .timeline .timeline-block.even {
      flex-flow: row-reverse nowrap; }
      @media (max-width: 767px) {
        .timeline .timeline-block.even {
          flex-flow: column-reverse nowrap; } }
      .timeline .timeline-block.even .timeline-content {
        justify-content: flex-start; }
        @media (max-width: 767px) {
          .timeline .timeline-block.even .timeline-content {
            justify-content: center; } }
        .timeline .timeline-block.even .timeline-content:after, .timeline .timeline-block.even .timeline-content:before {
          position: absolute;
          content: '';
          transform: translate(-100%, 22px); }
          @media (max-width: 767px) {
            .timeline .timeline-block.even .timeline-content:after, .timeline .timeline-block.even .timeline-content:before {
              content: none; } }
        .timeline .timeline-block.even .timeline-content:after {
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-right: 12px solid white;
          border-bottom: 9px solid transparent; }
        .timeline .timeline-block.even .timeline-content:before {
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-right: 12px solid rgba(0, 0, 0, 0.25);
          border-bottom: 9px solid transparent;
          top: 3px; }
      .timeline .timeline-block.even .timeline-date {
        justify-content: flex-end; }
        @media (max-width: 767px) {
          .timeline .timeline-block.even .timeline-date {
            background-color: white;
            margin-top: 50px;
            margin-bottom: -10px;
            line-height: normal;
            padding: 15px;
            text-align: center;
            justify-content: center;
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
            z-index: 1; } }
    .timeline .timeline-block .timeline-icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }
      @media (max-width: 767px) {
        .timeline .timeline-block .timeline-icon {
          top: 0;
          z-index: 2; } }
    .timeline .timeline-block .timeline-content,
    .timeline .timeline-block .timeline-date {
      padding: 0 60px;
      flex: 1 0 50%;
      display: flex;
      box-sizing: border-box; }
      @media (max-width: 767px) {
        .timeline .timeline-block .timeline-content,
        .timeline .timeline-block .timeline-date {
          padding: 0;
          flex: none; } }
  .timeline .timeline-date {
    font-weight: 600;
    font-size: 18px;
    line-height: 68px; }
  .timeline .timeline-content {
    font-size: 14px;
    position: relative; }
    .timeline .timeline-content ul li {
      margin: 0; }
  .timeline .timeline-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 4px solid white;
    background-color: #8bb91c; }
    .timeline .timeline-icon img {
      max-width: 38px;
      max-height: 38px; }

.burger {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: all 500ms ease 0ms;
  border: 0;
  box-shadow: 0 0 0 0;
  z-index: 999;
  border-radius: 0; }
  .burger:hover {
    transform: none;
    outline: none; }
  .burger span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 24px;
    height: 3px;
    display: block;
    transition: all 500ms ease 0ms; }
    .burger span:before, .burger span:after {
      background: white;
      content: '';
      display: block;
      height: 3px;
      transform: rotate(0deg);
      transition: all 500ms ease 0ms;
      width: 100%;
      position: absolute;
      transform-origin: 100% 50% 0; }
    .burger span:before {
      transform: translateY(-8px); }
    .burger span:after {
      transform: translateY(8px); }
  .burger.on span {
    background-color: transparent;
    box-shadow: 0 0 0 transparent; }
    .burger.on span:before {
      background-color: white;
      transform: rotate(-45deg) translateY(0);
      transform-origin: 50% 50% 0;
      box-shadow: 0 0 0 transparent; }
    .burger.on span:after {
      background-color: white;
      transform: rotate(45deg) translateY(0);
      transform-origin: 50% 50% 0;
      box-shadow: 0 0 0 transparent; }

.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -15px; }
  .portfolio .portfolio-thumb {
    padding: 15px; }
    .portfolio .portfolio-thumb > .thumb-wrapper {
      position: relative;
      padding: 6px;
      background-color: white;
      width: 160px;
      height: 160px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      overflow: hidden; }
      .portfolio .portfolio-thumb > .thumb-wrapper > img {
        max-width: 100%; }
      .portfolio .portfolio-thumb > .thumb-wrapper .thumb-description {
        background-color: rgba(73, 65, 92, 0.75);
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform .25s ease 0s; }
        .portfolio .portfolio-thumb > .thumb-wrapper .thumb-description.from-left {
          transform: translate(-100%, 0); }
        .portfolio .portfolio-thumb > .thumb-wrapper .thumb-description.from-right {
          transform: translate(100%, 0); }
        .portfolio .portfolio-thumb > .thumb-wrapper .thumb-description.from-top {
          transform: translate(0, -100%); }
        .portfolio .portfolio-thumb > .thumb-wrapper .thumb-description.from-bottom {
          transform: translate(0, 100%); }
      .portfolio .portfolio-thumb > .thumb-wrapper:hover .thumb-description {
        transform: translate(0, 0); }

body, html {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%; }

.sections {
  position: relative;
  width: 100%;
  z-index: 2; }

.backgrounds {
  position: absolute;
  left: 0;
  top: 0;
  right: 0; }

.me {
  z-index: 1; }

/*# sourceMappingURL=index.css.map */
